{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="mb-4">About Universal Tech Academy</h1>
    
    <div class="row">
        <div class="col-md-8">
            <h3>Our Mission</h3>
            <p class="lead">To provide quality education in technology and programming to students worldwide.</p>
            
            <h3 class="mt-4">Our Story</h3>
            <p>Universal Tech Academy was founded in 2019 with the goal of making technology education accessible to everyone. 
               We offer a wide range of courses taught by industry experts.</p>
            
            <h3 class="mt-4">Why Choose Us?</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Expert instructors with industry experience</li>
                <li class="list-group-item">Flexible learning schedule</li>
                <li class="list-group-item">Hands-on practical projects</li>
                <li class="list-group-item">Career guidance and support</li>
            </ul>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quick Facts</h5>
                    <ul class="list-unstyled">
                        <li>📚 50+ Courses</li>
                        <li>👨‍🏫 30+ Instructors</li>
                        <li>🎓 1000+ Students</li>
                        <li>🌍 Global Community</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 