{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Digital Library</h1>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Programming E-Books</h5>
                    <p class="card-text">Access our collection of programming and technology e-books.</p>
                    <a href="#" class="btn btn-primary">Browse E-Books</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Video Tutorials</h5>
                    <p class="card-text">Watch video tutorials on various programming topics.</p>
                    <a href="#" class="btn btn-primary">Watch Videos</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Research Papers</h5>
                    <p class="card-text">Access academic papers and research publications.</p>
                    <a href="#" class="btn btn-primary">View Papers</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 